# Converting Data Types

### https://www.youtube.com/watch?v=B63bN2cLVLM&list=PLUaB-1hjhk8GHKfndKjyDMHPg_HlQ4vpK&index=9&t=3s

In [1]:
## Creating a Variable (int/integer)

num_int = 7

type(num_int)

int

In [2]:
## Creating a Variable (str/string)

num_str = '7'

type(num_str)

str

In [3]:
## We tried to Add the 2 different variables (String and Integer)
## Did not work, we have to convert


num_sum = num_int + num_str

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Converting String to Integer

In [4]:

num_str_conv = int(num_str)                 ## This is how EASY it is to convert, int(num_str).

type (num_str_conv)                         ## Now we can see that it has been converted to an integer.

int

In [6]:
## It worked. 
## 2 Integers.

num_sum = num_int + num_str_conv

print(num_sum)

14

In [7]:
type(num_sum)

int

# Converting Lists, Sets and Tuples

In [9]:
list_type = [1,2,3]


type(list_type)

list

## Convert List --> Tuple

In [10]:
tuple(list_type)                   ## It's that EASY.

(1, 2, 3)

In [11]:
type(tuple(list_type))             ## We can double check it by using type.

tuple

## Convert List --> Set

In [14]:
list_type = [1,2,3,3,2,1,2,3,2,1]

### This is something you need to be aware of when converting Data Types, because set doesn't act like a List.
### A set is going to take the UNIQUE Values in a list and convert it to a set
### It fundamentally changes the original data that was in the original list

In [15]:
set(list_type)

{1, 2, 3}

In [16]:
type(set(list_type))             ## We can double check it by using type.

set

# Converting Dictionaries

In [3]:
dict_type = {'name': 'Gino Freud', 'age': 25, 'hair': 'N/A'}

type(dict_type)

dict

In [4]:
dict_type.items()

dict_items([('name', 'Gino Freud'), ('age', 25), ('hair', 'N/A')])

In [5]:
dict_type.values()

dict_values(['Gino Freud', 25, 'N/A'])

In [8]:
dict_type.keys()

dict_keys(['name', 'age', 'hair'])

In [9]:
## Let's say we want to take all of the Keys and Convert them in to a List.


list(dict_type.keys())

['name', 'age', 'hair']

In [10]:
type(list(dict_type.keys()))             ## We can double check it by using type.

list

In [11]:
type(list(dict_type.values()))             ## We can double check it by using type.

list

# Converting String to Lists

### We can also convert long strings

In [12]:
long_string = "I like to party"

In [13]:
## Convert to list

list(long_string)

['I', ' ', 'l', 'i', 'k', 'e', ' ', 't', 'o', ' ', 'p', 'a', 'r', 't', 'y']

In [14]:
## Convert to Set

set(long_string)

{' ', 'I', 'a', 'e', 'i', 'k', 'l', 'o', 'p', 'r', 't', 'y'}